absl-py==2.1.0
aext_assistant @ file:///C:/b/abs_05zbnpu9if/croot/aext-assistant_1698112951886/work
aext_assistant_server @ file:///C:/b/abs_83f6_dptu3/croot/aext-assistant-server_1698104652697/work/backend_lib/assistant
aext_core @ file:///C:/b/abs_abml9re1ky/croot/aext-core_1698107590809/work
aext_core_server @ file:///C:/b/abs_dev7ac1xol/croot/aext-core-server_1698098831843/work/backend_lib/core
aext_shared @ file:///C:/b/abs_306_rwdm13/croot/aext-shared_1698068353440/work/backend_lib/shared
aiofiles @ file:///C:/b/abs_9ex6mi6b56/croot/aiofiles_1683773603390/work
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aioice==0.9.0
aioresponses==0.7.6
aiortc==1.9.0
aiosignal==1.3.1
aiosqlite @ file:///C:/b/abs_9djc_0pyi3/croot/aiosqlite_1683773915844/work
anaconda-anon-usage @ file:///C:/b/abs_95v3x0wy8p/croot/anaconda-anon-usage_1697038984188/work
anaconda-catalogs @ file:///C:/b/abs_8btyy0o8s8/croot/anaconda-catalogs_1685727315626/work
anaconda-client @ file:///C:/b/abs_34txutm0ue/croot/anaconda-client_1708640705294/work
anaconda-cloud-auth @ file:///C:/b/abs_b02evi84gh/croot/anaconda-cloud-auth_1713991445770/work
anaconda-project @ file:///C:/ci_311/anaconda-project_1676458365912/work
annotated-types==0.7.0
anthropic==0.34.2
anyio==4.6.2.post1
appdirs==1.4.4
APScheduler==3.10.1
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci_311/argon2-cffi-bindings_1676424443321/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
attrs==24.2.0
av==12.3.0
awscli==1.33.44
Babel @ file:///C:/ci_311/babel_1676427169844/work
backoff==2.2.1
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
bidict==0.23.1
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.8.2
bokeh @ file:///C:/b/abs_74ungdyhwc/croot/bokeh_1706912192007/work
boltons @ file:///C:/ci_311/boltons_1677729932371/work
boto3==1.34.123
botocore==1.34.162
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
Brotli @ file:///C:/ci_311/brotli-split_1676435766766/work
CacheControl==0.14.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet @ file:///C:/ci_311/chardet_1676436134885/work
charset-normalizer==3.3.2
chex==0.1.86
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
cloudpickle @ file:///C:/b/abs_3796yxesic/croot/cloudpickle_1683040098851/work
colorama==0.4.4
coloredlogs==15.0.1
comm @ file:///C:/ci_311/comm_1678376562840/work
conda @ file:///C:/b/abs_784_nd53re/croot/conda_1714403056934/work
conda-build @ file:///C:/b/abs_3ed9gavxgz/croot/conda-build_1708025907525/work
conda-content-trust @ file:///C:/b/abs_e3bcpyv7sw/croot/conda-content-trust_1693490654398/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///C:/b/abs_b9wp3lr1gn/croot/conda-package-handling_1691008700066/work
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///croot/conda-index_1706633791028/work
conda_package_streaming @ file:///C:/b/abs_6c28n38aaj/croot/conda-package-streaming_1690988019210/work
contourpy==1.3.0
cryptography==43.0.1
cycler==0.12.1
Cython==3.0.0
cytoolz @ file:///C:/b/abs_d43s8lnb60/croot/cytoolz_1701723636699/work
dask @ file:///C:/b/abs_1899k8plyj/croot/dask-core_1701396135885/work
dataclasses-json==0.6.7
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.14
distributed @ file:///C:/b/abs_5eren88ku4/croot/distributed_1701398076011/work
distro==1.9.0
dm-tree==0.1.8
dnspython==2.7.0
docker==6.1.3
docutils==0.16
easyocr==1.7.1
entrypoints @ file:///C:/ci_311/entrypoints_1676423328987/work
etils==1.8.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.110.3
fastjsonschema @ file:///C:/ci_311/python-fastjsonschema_1679500568724/work
filelock==3.15.4
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Limiter==3.8.0
Flask-SocketIO==5.3.7
flatbuffers==24.3.25
flax==0.8.4
fonttools==4.53.1
frozenlist==1.5.0
fsspec==2024.9.0
future @ file:///C:/ci_311_rebuilds/future_1678998246262/work
gast==0.5.4
google-api-core==2.19.2
google-api-python-client==2.143.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.18.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
GPUtil==1.4.0
grpcio==1.66.1
grpcio-status==1.66.1
gunicorn==23.0.0
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
h5py==3.11.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.8
ifaddr==0.2.0
imageio==2.35.1
importlib-metadata @ file:///C:/b/abs_c1egths604/croot/importlib_metadata-suite_1704813568388/work
importlib_resources==6.4.4
inference==0.25.0
inference-sdk==0.25.0
iniconfig==2.0.0
intake @ file:///C:/ci_311_rebuilds/intake_1678999914269/work
intel-openmp==2021.4.0
ipykernel @ file:///C:/b/abs_c2u94kxcy6/croot/ipykernel_1705933907920/work
ipython @ file:///C:/b/abs_b6pfgmrqnd/croot/ipython_1704833422163/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous==2.2.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jax==0.4.28
jaxlib==0.4.28
jedi @ file:///C:/ci_311/jedi_1679427407646/work
Jinja2==3.1.4
jiter==0.7.0
jmespath==1.0.1
joblib==1.4.2
json2onnx==2.0.3
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events @ file:///C:/b/abs_17ajfqnlz0/croot/jupyter_events_1699282519713/work
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter-ydoc @ file:///C:/b/abs_e7m6nh5lao/croot/jupyter_ydoc_1683747253535/work
jupyter_client @ file:///C:/ci_311/jupyter_client_1676424009414/work
jupyter_core @ file:///C:/b/abs_c769pbqg9b/croot/jupyter_core_1698937367513/work
jupyter_server @ file:///C:/b/abs_7esjvdakg9/croot/jupyter_server_1699466495151/work
jupyter_server_fileid @ file:///C:/b/abs_f1yjnmiq_6/croot/jupyter_server_fileid_1684273602142/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyter_server_ydoc @ file:///C:/b/abs_8ai39bligw/croot/jupyter_server_ydoc_1686767445888/work
jupyterlab @ file:///C:/b/abs_2fecwena3y/croot/jupyterlab_1708029936267/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab_server @ file:///C:/b/abs_e08i7qn9m8/croot/jupyterlab_server_1699555481806/work
keras==3.3.3
keyring @ file:///C:/b/abs_dbjc7g0dh2/croot/keyring_1678999228878/work
kiwisolver==1.4.7
lazy_loader==0.4
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libclang==18.1.1
libmambapy @ file:///C:/b/abs_2euls_1a38/croot/mamba-split_1704219444888/work/libmambapy
limits==3.13.0
lmdb @ file:///C:/b/abs_556ronuvb2/croot/python-lmdb_1682522366268/work
locket @ file:///C:/ci_311/locket_1676428325082/work
lxml @ file:///C:/b/abs_9e7tpg2vv9/croot/lxml_1695058219431/work
lz4 @ file:///C:/b/abs_064u6aszy3/croot/lz4_1686057967376/work
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-inline @ file:///C:/ci_311/matplotlib-inline_1676425798036/work
mdurl==0.1.2
menuinst @ file:///C:/b/abs_099kybla52/croot/menuinst_1706732987063/work
mistune @ file:///C:/ci_311/mistune_1676425111783/work
mkl==2021.4.0
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
ml-dtypes==0.3.2
more-itertools @ file:///C:/b/abs_36p38zj5jx/croot/more-itertools_1700662194485/work
mpmath==1.3.0
msgpack==1.0.8
multidict==6.1.0
mypy-extensions==1.0.0
namex==0.0.8
nbclassic @ file:///C:/b/abs_4a5z9raz19/croot/nbclassic_1699542837556/work
nbclient @ file:///C:/b/abs_cal0q5fyju/croot/nbclient_1698934263135/work
nbconvert @ file:///C:/b/abs_17p29f_rx4/croot/nbconvert_1699022793097/work
nbformat @ file:///C:/b/abs_5a2nea1iu2/croot/nbformat_1694616866197/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
netron==7.6.9
networkx==3.3
ninja==1.11.1.1
notebook @ file:///C:/b/abs_e2qn6c85jb/croot/notebook_1690985290943/work
notebook_shim @ file:///C:/b/abs_a5xysln3lb/croot/notebook-shim_1699455926920/work
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy==1.26.4
oauthlib==3.2.2
onnx==1.16.1
onnx-graphsurgeon==0.3.27
onnx-simplifier==0.4.36
onnx-tf==1.10.0
onnx2json==2.0.4
onnx2tf==1.22.3
onnxruntime==1.19.2
openai==1.54.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
optax==0.2.2
optree==0.11.0
orbax-checkpoint==0.5.14
ordered-set==4.1.0
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging==24.1
pandas==2.2.2
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///C:/b/abs_46awex0fd7/croot/partd_1698702622970/work
pdfkit==1.0.0
pendulum==3.0.0
piexif==1.1.3
pillow==10.4.0
pkce @ file:///C:/b/abs_d0z4444tb0/croot/pkce_1690384879799/work
pkginfo @ file:///C:/b/abs_d18srtr68x/croot/pkginfo_1679431192239/work
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
pluggy==1.5.0
ply==3.11
prettytable==3.12.0
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.21.0
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
propcache==0.2.0
proto-plus==1.24.0
protobuf==5.28.0
psutil==6.0.0
PuLP==2.9.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
pyarrow @ file:///C:/b/abs_93i_y2dub4/croot/pyarrow_1707330894046/work/python
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybase64==1.4.0
pyclipper==1.3.0.post5
pycosat @ file:///C:/b/abs_31zywn1be3/croot/pycosat_1696537126223/work
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydot==3.0.2
pyee==12.0.0
Pygments==2.18.0
PyJWT==2.9.0
pylibsrtp==0.10.0
pyOpenSSL==24.2.1
pyparsing==3.1.4
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pyreadline3==3.5.4
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pytesseract==0.3.13
pytest==8.3.3
pytest-asyncio==0.21.1
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
python-snappy @ file:///C:/ci_311/python-snappy_1676446060182/work
python-socketio==5.11.4
pytz==2024.1
pywin32==308
pywin32-ctypes @ file:///C:/ci_311/pywin32-ctypes_1676427747089/work
pywinpty @ file:///C:/ci_311/pywinpty_1677707791185/work/target/wheels/pywinpty-2.0.10-cp311-none-win_amd64.whl
PyYAML==6.0.2
pyzmq @ file:///C:/b/abs_40g8k86mr7/croot/pyzmq_1709318380178/work
redis==5.0.8
referencing==0.35.1
requests @ file:///C:/b/abs_474vaa3x9e/croot/requests_1707355619957/work
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt @ file:///C:/b/abs_2fsmts66wp/croot/requests-toolbelt_1690874051210/work
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich==13.5.2
rpds-py==0.20.1
rsa==4.7.2
ruamel-yaml-conda @ file:///C:/ci_311/ruamel_yaml_1676455799258/work
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
s3transfer==0.10.3
sam4onnx==1.0.15
sbi4onnx==1.0.6
scc4onnx==1.0.5
scikit-image==0.24.0
scikit-learn==1.4.2
scipy==1.14.1
scs4onnx==1.0.18
sde4onnx==1.0.0
seaborn==0.13.2
sed4onnx==1.0.5
semver @ file:///tmp/build/80754af9/semver_1603822362442/work
Send2Trash @ file:///C:/b/abs_08dh49ew26/croot/send2trash_1699371173324/work
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.0.0
simple_onnx_processing_tools==1.1.32
sio4onnx==1.0.2
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
sit4onnx==1.0.8
six @ file:///tmp/build/80754af9/six_1644875935023/work
skypilot==0.5.0
sna4onnx==1.0.6
snc4onnx==1.0.13
snd4onnx==1.1.6
sne4onnx==1.0.13
sng4onnx==1.0.4
sniffio==1.3.1
soa4onnx==1.0.4
soc4onnx==1.0.2
sod4onnx==1.0.0
sog4onnx==1.0.17
sor4onnx==1.0.6
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
spo4onnx==1.0.5
ssc4onnx==1.0.8
ssi4onnx==1.0.3
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.37.2
structlog==24.4.0
supervision==0.22.0
svs4onnx==1.0.0
sympy==1.13.2
tabulate==0.9.0
tbb==2021.12.0
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-addons==0.22.0
tensorflow-decision-forests==1.8.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.24.0
tensorflowjs==4.19.0
tensorstore==0.1.59
termcolor==2.4.0
terminado @ file:///C:/ci_311/terminado_1678228513830/work
tf_keras==2.16.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2024.8.30
time-machine==2.16.0
tinycss2 @ file:///C:/ci_311/tinycss2_1676425376744/work
tldextract==5.1.3
tokenizers==0.20.2
toolz @ file:///C:/ci_311/toolz_1676431406517/work
torch==2.4.1
torchsummary==1.5.1
torchvision==0.19.1
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm==4.66.5
traitlets @ file:///C:/ci_311/traitlets_1676423290727/work
truststore @ file:///C:/b/abs_55z7b3r045/croot/truststore_1695245455435/work
typeguard==2.13.3
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ultralytics==8.2.89
ultralytics-thop==2.0.6
uritemplate==4.1.1
urllib3==1.26.20
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wrapt==1.16.0
wsproto==1.2.0
wurlitzer==3.1.0
xyzservices @ file:///C:/ci_311/xyzservices_1676434829315/work
y-py @ file:///C:/b/abs_b7f5go6r0j/croot/y-py_1683662173571/work
yarl==1.17.1
ypy-websocket @ file:///C:/b/abs_4e65ywlnv8/croot/ypy-websocket_1684172103529/work
zict @ file:///C:/b/abs_780gyydtbp/croot/zict_1695832899404/work
zipp @ file:///C:/b/abs_b0beoc27oa/croot/zipp_1704206963359/work
zstandard==0.19.0
zxing-cpp==2.2.0
